{% extends "base.html.twig" %}

{% block body %}

<div class="container mx-auto px-4 py-8 grid gap-6 grid-cols-1 md:grid-cols-3 lg:grid-cols-4 pt-48">

    <div class="bg-white p-4 rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold">Conditions Générales d'Utilisation</h1>
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nulla nec urna tincidunt luctus</p>
    </div>
    
{% endblock %}