@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-btn {
    position: absolute;
    top: 0;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 4px;
    cursor: pointer;
}
.carousel-btn:focus {
    outline: none;
}