@font-face {
  font-family: 'THEBOLDFONT';
  src: url('../fonts/THE BOLD FONT - FREE VERSION - 2023.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Questrial';
  src: url('../fonts/Questrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-title {
  font-family: 'THEBOLDFONT', sans-serif;
  text-transform: uppercase;
}