<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FJQZRP5J2L"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FJQZRP5J2L');
        </script>
        <meta charset="UTF-8">
        <meta name="description" content="Curious Creators vous présente son site en construction" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Landing Page{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "shared/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "shared/footer.html.twig" %}
    </body>
</html>