{% extends "base.html.twig" %}
{% block title %}Curious Creation - Page d'atterrissage{% endblock %}

{% block body %}
<body class="bg-black flex flex-col min-h-screen text-center">

    <main class="flex-grow flex flex-col justify-center items-center space-y-8 px-4 sm:px-0">
        <div class="text-2xl sm:text-5xl space-y-4 w-full sm:w-3/4 lg:w-1/2">
            <h1 class="text-blue-400 font-bold">
                Cette page d'atterrissage vous est présentée par
            </h1>
            <h2 class="text-red-400 font-black underline">
                Curious Creators
            </h2>
        </div>
        
        <div class="space-y-4 w-full sm:w-3/4 lg:w-1/2">
            <h3 class="text-lg sm:text-xl text-white font-semibold">
                Ici il va y avoir du texte décrivant notre activité et plein d'autres contenus
            </h3>
            <p class="text-md sm:text-lg text-white font-semibold">
                vous allez voir vous allez adorer
            </p>
            <p class="text-[120px] sm:text-[180px] animate-pulse text-gray-700">WIP</p>
            <a href="" class="bg-blue-400 text-white font-bold rounded-lg p-2 hover:bg-blue-500">ce lien ne sert a rien</a>
        </div>
    </main>

    {% if showSubscribeDialog %}
    <div id="blur-overlay" class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-md hidden"></div>        
    <dialog id="subscribe-dialog" class="bg-gray-600 text-white p-4 rounded-lg fixed top-1/2 transform -translate-y-1/2" open>
        <p class="text-center">Voulez-vous souscrire à notre newsletter ?</p>
        {{ form_start(form, { 'attr': { 'class': 'flex flex-col text-red-500' } }) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email ) }}
            <button type="submit" id="submit-button" class="bg-blue-400 text-white font-bold rounded-lg p-2 m-2">Je souscris</button>
            <button type="button" id="cancel-button" class="bg-red-400 text-white font-bold rounded-lg p-2 m-2">annuler</button>
        {{ form_end(form) }}
    </dialog>
{% endif %}

<script>
    const dialog = document.getElementById('subscribe-dialog');
    const blurOverlay = document.getElementById('blur-overlay');
    const cancelButton = document.getElementById('cancel-button');
    const submitButton = document.getElementById('submit-button'); // TOO: faire + propre

    if (dialog) {
        dialog.addEventListener('close', () => {
            blurOverlay.classList.add('hidden');
            document.cookie = "subscribeDialogClosed=true; path=/; max-age=" + (60 * 60 * 24 * 30); // 30 days
        });

        cancelButton.addEventListener('click', () => {
            dialog.close();
        });

        submitButton.addEventListener('click', () => {  // TOO: faire + propre
            dialog.close();
        });
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    if (!getCookie('subscribeDialogClosed')) {
        blurOverlay.classList.remove('hidden');
    } else {
        dialog.close();
    }
</script>
</body>

{% endblock %}
