{% extends "base.html.twig" %}

{% block title %}
    Accueil - CultuRally
{% endblock %}

{% block body %}
    <style>
        @layer utilities {
            .bg-custom-gradient {
                background: linear-gradient(
                    90deg,
                    rgba(254, 183, 55, 0.7) 0%,
                    rgba(254, 218, 154, 0.7) 23.5%,
                    rgba(196, 216, 200, 0.7) 69%,
                    rgba(92, 134, 102, 0.7) 100%
                );
            }
        }
    </style>
    
    <div class="flex flex-col bg-landing bg-cover bg-center h-screen px-[55px]">
        <h1 class="text-white font-title text-3xl my-[110px]">la plateforme de de dynamisation culturelle locale</h1>
        <p class="text-white font-content text-lg leading-[32.4px]">Notre mission est de créer des ponts entre les citoyens, les associations,
        et les mairies pour valoriser et dynamiser la vie culturelle de chaque ville.</p>
        <button class="place-self-center bg-cta px-[45px] py-[14px] mt-16 rounded-full text-sm font-semibold font-cta">Nous rejoindre</button>
    </div>
    
    <div class="bg-primary rounded-3xl h-[481px] w-full absolute top-[878px] z-0"></div>
    
    <div class="relative flex flex-col mt-[-160px] z-10">
        <h2 class="text-white font-title text-xl place-self-center py-[52px] px-[45px]">
            pourquoi nous rejoindre ?
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 place-self-center mt-8 gap-20 py-[52px] px-[45px]">
            <div class="bg-white rounded-3xl flex flex-col">
                <div class="px-[41px]">
                    <h3 class="text-[#5C8666] font-title text-xl mt-5">citoyens</h3>
                    <p class="text-[#5C8666] font-content text-sm mt-4 leading-[25.6px]">
                        Participez activement à la vie culturelle de votre ville, découvrez de nouveaux événements et projets,
                        et contribuez à la richesse de votre communauté.
                    </p>
                </div>
                <img src="/img/people.jpg" alt="citoyens" class="rounded-b-3xl">
            </div>
            <div class="bg-white rounded-3xl flex flex-col">
                <div class="px-[41px]">
                    <h3 class="text-[#326BBA] font-title text-xl mt-5">associations</h3>
                    <p class="text-[#326BBA] font-content text-sm mt-4 leading-[25.6px]">
                        Accédez à des fonds, trouvez des partenaires, et valorisez vos initiatives grâce à une visibilité accrue et des ressources adaptées.
                    </p>
                </div>
                <img src="/img/people.jpg" alt="associations" class="rounded-b-3xl">
            </div>
            <div class="bg-white rounded-3xl flex flex-col">
                <div class="px-[41px]">
                    <h3 class="text-[#D0220A] font-title text-xl mt-5">mairies</h3>
                    <p class="text-[#D0220A] font-content text-sm mt-4 leading-[25.6px]">
                        Participez activement à la vie culturelle de votre ville, découvrez de nouveaux événements et projets,
                        et contribuez à la richesse de votre communauté.
                    </p>
                </div>
                <img src="/img/people.jpg" alt="mairies" class="rounded-b-3xl">
            </div>
            <button class="place-self-center bg-cta px-[45px] py-[14px] rounded-full text-sm font-semibold font-cta">Nous rejoindre</button>
        </div>
        <img src="/img/pirouette.svg" alt="pirouette" class="absolute top-[1674px] left-[327px] h-[196px]">
    </div>

    <div class="flex flex-col text-primary mt-[444px] px-[76px] gap-[124px]">
        <h2 class="text-primary font-title text-2xl place-self-center">faciliter les projets culturels</h2>
        <div class="flex flex-col">
            <img src="/img/bleu.svg" alt="bleu" class="mb-[32.12px]">
            <h3 class="font-title text-lg">aide au financement</h3>
            <p class="font-content text-sm mt-4 leading-[25.6px]">
                Bénéficiez d'un soutien financier pour vos projets grâce à nos partenaires et à des campagnes de crowdfunding.
            </p>
        </div>
        <div class="flex flex-col">
            <img src="/img/vert.svg" alt="vert" class="mb-[32.12px] h-[218.66px]">
            <h3 class="font-title text-lg">promotion des événements</h3>
            <p class="font-content text-sm mt-4 leading-[25.6px]">
                Faites connaître vos événements culturels auprès d'un large public.
            </p>
        </div>
        <div class="flex flex-col">
            <img src="/img/rouge.svg" alt="rouge" class="mb-[32.12px]">
            <h3 class="font-title text-lg">ressources et conseils</h3>
            <p class="font-content text-sm mt-4 leading-[25.6px]">
                 Accédez à des ressources et des conseils pour développer et pérenniser vos projets culturels.
            </p>
        </div>
        <button class="place-self-center bg-cta px-[45px] py-[14px] rounded-full text-sm font-semibold font-cta">Je soutiens</button>
    </div>

    <div class="bg-cards bg-cover bg-center h-[1354px] rounded-3xl">
        <div class="bg-white rounded-3xl flex flex-col place-self-center gap-10 mt-32 mx-[55px] relative top-[124.44px] pb-20">
            <h2 class="font-title text-xl pt-[52px] px-[45px] text-center">valoriser et soutenir la culture locale</h2>
            <div class="bg-bleu bg-cover bg-center h-[247.09px] text-secondary text-center align-middle">
                <h3 class="font-title text-lg mt-16">lancez vos projets</h3>
                <p class="font-content text-sm mt-4 leading-[25.6px]">
                    Présentez vos idées et trouvez le soutien nécessaire pour les concrétiser.
                </p>
            </div>
            <div class="bg-jaune bg-cover bg-center h-[247.09px] text-primary text-center">
                <h3 class="font-title text-lg mt-16">soutenez des initiatives</h3>
                <p class="font-content text-sm mt-4 leading-[25.6px]">
                    Explorez les projets en cours et apportez votre contribution.
                </p>
            </div>
            <div class="bg-rouge bg-cover bg-center h-[247.09px] text-secondary text-center">
                <h3 class="font-title text-lg mt-16">collaborations locales</h3>
                <p class="font-content text-sm mt-4 leading-[25.6px]">
                    Trouvez des partenaires locaux pour développer des initiatives communes.
                </p>
            </div>
            <button class="place-self-center bg-cta px-[45px] py-[14px] rounded-full text-sm font-semibold font-cta">Je soutiens</button>
        </div>
    </div>

    <div class="bg-[#92929226] mt-[124px]">
        <h2 class="font-title text-xl place-self-center py-[52px] px-[45px]">NOS FUTURS PARTENAIRES</h2>
        <div class="flex justify-between">
            <img src="/img/Ministère de la Culture.png" alt="Ministère de la culture">
            <img src="/img/anct.png" alt="Agence nationale de la cohésion des territoires">
            <img src="/img/Secrétariat d'Etat.png" alt="Secretariat d'Etat chargé de l'économie sociale, solidaire et responsable">
        </div>
    </div>

    <div class="flex flex-col bg-white mt-[124px] place-content-center">
        <h2 class="font-title text-xl place-self-center py-[52px] px-[45px]">notre galerie</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 place-self-center gap-20 py-[52px] px-[45px]">
            <img src="/img/galerie1.jpg" alt="galerie1" class="rounded-3xl">
            <img src="/img/galerie2.jpg" alt="galerie2" class="rounded-3xl">
            <img src="/img/galerie3.jpg" alt="galerie3" class="rounded-3xl">
        </div>
        <button class="place-self-center bg-cta px-[45px] py-[14px] rounded-full text-sm font-semibold font-cta">Voir plus</button>
    </div>

     <div class="rounded-3xl bg-custom-gradient text-primary text-center mt-28 mx-2">
        <img src="/img/Tête icone.svg" alt="ci-gît Pablo Picassiette" class="px-[158px] py-[55px]">
        <p class="text-2xl font-title leading-5">Pour en savoir plus rejoignez notre newsletter</p>
        {{ form_start(form) }}
            <div class="flex justify-center py-14 gap-4">
                {{ form_widget(form.email, {'attr': {'class': 'rounded-full border border-black px-6 py-2 bg-transparent'}}) }}
                <button type="submit" class="rounded-full border border-black px-6 py-2 bg-custom-gradient">S'inscrire</button>
            </div>
            <div class="text-red-500">
                {{ form_errors(form.email) }}
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
