{% extends "base.html.twig" %}

{% block title %}
    Nos Actualités
{% endblock %}

{% block body %}
<div class="container mx-auto px-4 py-8 grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

    {% if app.user.roles == ['ROLE_ADMIN'] %}
        <a href="/admin/new-post" class="bg-primary text-white p-4 rounded-lg text-center">Ajouter une actualité</a>
    {% endif %}

    {% for post in posts %}
        <div class="relative bg-cover bg-center h-64 rounded-lg shadow-lg" style="background-image: url('{{ asset('img/Posts/' ~ post.picture) }}');">
            <a href="/actualite/{{ post.slug }}" class="absolute inset-0 flex items-end bg-black bg-opacity-50 text-white rounded-lg">
                <div class="p-4 w-full text-center">
                    <h1 class="text-lg font-bold">{{ post.title }}</h1>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}