<footer class="py-8 mt-24">
        <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex flex-col items-center justify-between space-y-8 lg:space-y-0 lg:flex-row lg:items-start lg:justify-between">
                <div class="flex flex-col items-center lg:items-start">
                    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <img src="img/CULTURALLY_V2_LOGO.svg" class="h-8" alt="CultuRally Logo"/>
                        <span class="text-lg font-semibold text-[#00062F]">CultuRally</span>
                    </a>
                    <p class="mt-4 text-gray-500 lg:mt-0">&copy; 2024 Curious Creators</p>
                    <div class="flex space-x-4 mt-4">
                        <a href="">
                            <img src="img/facebook.svg" alt="Facebook" class="h-6 w-6">
                        </a>
                        <a href="">
                            <img src="img/twitter.svg" alt="Twitter" class="h-6 w-6">
                        </a>
                        <a href="">
                            <img src="img/instagram.svg" alt="Instagram" class="h-6 w-6">
                        </a>
                    </div>
                </div>
                <div class="grid grid-cols-3 gap-8 text-gray-600 lg:grid-cols-4 lg:gap-16">
                    <div>
                        <h3 class="font-bold">Location</h3>
                        <ul class="space-y-2 mt-4">
                            <li><a href="" class="hover:underline">America</a></li>
                            <li><a href="" class="hover:underline">Asia</a></li>
                            <li><a href="" class="hover:underline">Europe</a></li>
                            <li><a href="" class="hover:underline">Africa</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">Contact</h3>
                        <ul class="space-y-2 mt-4">
                            <li><a href="" class="hover:underline">About Me</a></li>
                            <li><a href="" class="hover:underline">Teams</a></li>
                            <li><a href="" class="hover:underline">Profile</a></li>
                            <li><a href="" class="hover:underline">FAQ</a></li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="font-bold">Legals</h3>
                        <ul class="space-y-2 mt-4">
                            <li><a href="" class="hover:underline">Privacy</a></li>
                            <li><a href="" class="hover:underline">Disclaimer</a></li>
                            <li><a href="" class="hover:underline">Terms</a></li>
                            <li><a href="" class="hover:underline">Company</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>