<footer class="py-8 mt-24 bg-cta">
    <div class="max-w-screen mx-auto">
        <div class="flex flex-col lg:grid lg:grid-cols-2 items-center justify-between space-y-8">
            <div class="lg:pl-[89px] justify-center">
                <div class="flex items-center px-8">
                    <a href="/" class="items-center">
                        <img src="img/Logo.svg" alt="CultuRally Logo" class="w-20 lg:w-[171px]">
                    </a>
                    <p class="text-lg font-semibold text-primary w-[240px] lg:w-full">
                        CultuRally c’est la solution pour connecter nos zones rurales à une vie culturelle dynamique.
                    </p>
                </div>
                <p class="text-xl font-title text-center lg:text-start text-primary px-16 lg:pl-[171px]">
                    Découvrez et Participez a la Culture, Partout en France
                </p>
                <div class="flex mt-4 gap-[50px] lg:pl-[171px] justify-center lg:justify-start">
                    <a href="https://www.instagram.com/culturallyfr">
                        <img src="img/instagram.svg" alt="Instagram" class="h-6 w-6">
                    </a>
                    <a>
                        <img src="img/facebook.svg" alt="Facebook" class="h-6 w-6">
                    </a>
                    <a>
                        <img src="img/twitter.svg" alt="Twitter" class="h-6 w-6">
                    </a>
                    <a>
                        <img src="img/linkedin.svg" alt="LinkedIn" class="h-6 w-6">
                    </a>
                </div>
            </div>

            <div class="bg-primary lg:bg-cta text-cta lg:text-primary text-center w-full grid lg:grid-cols-2 items-center gap-4 px-12 py-4">
                <div>
                    <h3 class="font-title text-lg mb-7">contact</h3>
                    <ul class="flex lg:flex-col gap-y-6 justify-between text-sm lg:text-lg">
                        <li><a> A propos</a></li>
                        <li><a>Devenir partenaire</a></li>
                        <li><a>Profil</a></li>
                        <li><a>FAQ</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="font-title text-lg mb-7">mentions légales</h3>
                    <ul class="grid grid-cols-2 gap-y-6 lg:grid-cols-1 text-sm lg:text-lg">
                        <li><a>Conditions d'utilisation</a></li>
                        <li><a>Politique de confidentialité</a></li>
                        <li><a>Politique des cookies</a></li>
                        <li><a>Gérer mes préférences</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <p class="mt-4 text-lg font-cta text-center">Copyright &copy; 2024 culturally</p>
    </div>
</footer>