<header class="flex px-4 sm:px-10 justify-between h-20 items-center bg-gray-600 bg-opacity-50 border-b-2 border-black">
    <img src="" alt="logo" class="h-16">
    <nav class="flex gap-2 sm:gap-4">
        <a href="" class="text-white font-bold">liens</a>
        <a href="" class="text-white font-bold">vers</a>
        <a href="" class="text-white font-bold">des pages</a>
        <button class="text-white bg-green-400 px-2 sm:px-4 py-1 sm:py-2 rounded-xl hover:bg-blue-500">se connecter</button>
    </nav>
</header>