<nav class="bg-background rounded-b-2xl lg:mx-20 lg:rounded-full lg:mt-[66px]">
  <div class="flex flex-wrap items-center justify-between p-4">
    <a href="/">
        <img src="img/Logo.svg" class="h-12 pl-8" alt="CultuRally Logo">
    </a>

    <div class="flex items-center justify-center p-4">
      <div class="hidden lg:flex items-center rounded-full border border-black bg-transparent">
          <img src="img/Loupe.svg" alt="icon de recherche" class="px-4">
          <input type="text" placeholder="Recherche" class="bg-transparent border-none outline-none px-4 py-2 w-64">
      </div>
    </div>

    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto flex-col-reverse" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-16 rtl:space-x-reverse md:mt-0 md:border-0">
        
        <li>
          <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 cursor-not-allowed md:p-0">Qui sommes-nous ?</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 cursor-not-allowed md:p-0">Nous rejoindre</a>
        </li>
        <li>
          <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 cursor-not-allowed md:p-0">Nous contacter</a>
        </li>
        <li>
          <a href="/actualites" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Nos actualités</a>
        </li>
      </ul>
    </div>

    <div class="hidden lg:flex justify-end gap-8 mr-[52px]">
      <div class="flex gap-4">
        <a href="/evenements" class="w-full place-content-center">
          <img src="img/Panier.svg" alt="Mon panier">
        </a>
        <img src="img/Cloche.svg" alt="Mes alertes">
      </div>
      {% if app.user %}
        <a href="/logout"><img src="img/profile.svg" alt="Mon profile"></a>
      {% else %}
        <a href="/login"><img src="img/profile.svg" alt="Mon profile"></a>
      {% endif %}
    </div>

  </div>

</nav>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const toggleButton = document.querySelector('[data-collapse-toggle]');
    const menu = document.getElementById('navbar-default');

    toggleButton.addEventListener('click', function() {
      menu.classList.toggle('hidden');
    });
  });
</script>